.login{
    width: 400px;
    margin: 100px auto;
    font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
    margin-top: 0;
    margin-bottom: 0;
}

.login-header {
    background: teal;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;    
}

.login-body {
    background: #e4e4e4;
    padding:25px;
}
.login-footer-content{
    font-size: 12px;
    color: rgb(157, 170, 182);
    font-weight: 600;
}
/* Every row inside .login-container is defined with p tags */

.login input[type="email"],
.login input[type="text"],
.login input[type="password"] {
    color:#ccc6c6;
    display: block;
    width: 100%;
    border: 1px solid black;
    padding: 13px;
    outline:none;
    font-family: inherit;
    font-size: 0.95em;
}
.is-invalid{
    border: 1px solid red !important;
}
/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="text"]:focus,
.login input[type="password"]:focus {
    border-color: #28a745;
}
.login input[type="email"]:hover,
.login input[type="text"]:hover,
.login input[type="password"]:hover
{
    border-color:#28a745;

}

.login input[type="submit"]:hover {
    background: #28a745;
}
.login-container input[type="submit"] {
    width: 100%;
    background:#ef4d4d;
    color: white;
    padding: 12px 20px;

    border: none;
    font-size:14px;
    letter-spacing:1px;
    cursor: pointer;
    outline:none;
    transition: .5s ease-in;
}
